#nav-bar-pc {
  max-width: 1200px;
  width: 100%;
  height: 20vh;
  .banner {
    width: 100%;
    height: 70%;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/curiosity-1310.appspot.com/o/banner%2Fbanner-home.jpg?alt=media&token=a8379a14-2ff6-4066-a7f2-2296599024ba);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
      width: 50px;
      height: 50px;
    }
  }
  .menu {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    .brand {
      display: flex;
      justify-content: center;
      align-items: center;
      .logo {
        width: 30px;
        height: 30px;
      }
      p {
        font-style: italic;
        font-weight: 500;
      }
    }
    ul {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0;
      margin: 0 4vw;
      div {
        padding: 0 2vh;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            padding: 0 .5vw;
        }
      }
      div:hover{
        cursor: pointer;
        box-shadow: inset 0 -2px 0  rgb(207, 10, 56);
      }
    }
    .theme-button{
        width: 40px;
        height: 35px;
        margin: 1vh 1vh;
        .button{
            width: 70%;
            height: 70%;
            padding: .5vh;
            margin: .2vh;
            background-color: rgba(128, 128, 128, 0.105);
            border-radius: 100%;
        }
        .button:hover{
            cursor: pointer;
        }
    }
  }
}
