#about {
  padding: 50px 0.5vw;
  .title{
    display: flex;
    align-items: center;
    .icon-title{
      margin-right: 10px;
      font-size: 2rem;
    }
  }
  .info {
    .authors {
      padding: 5px 0;
      .box-authors {
        display: flex;
        flex-wrap: wrap;
        .author-card {
          color: white;
          background-position: center;
          background-size: cover;
          min-width: 300px;
          min-height: 200px;
          border: 1px solid white;
          border-radius: 5px;
          padding: 10px;
          margin: 10px;
        }
      }
    }
  }
  .social-networks {
    display: flex;
    padding: 20px 0;
    .link {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 10px;
      margin: 0 10px;
      border-radius: 10px;
      text-decoration: none;
      .icon {
        font-size: 30px;
      }
      .image {
        filter: grayscale(100%);
      }
      p {
        padding-left: 5px;
      }
    }
  }
}

@media (max-width: 1200px) {
  #about {
    width: 95%;
    margin: 0 2.5%;
    .social-networks {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 750px) {
  #about {
    .social-networks {
      .link {
        margin: 10px;
        padding: 0 15px;
      }
    }
  }
}
