#contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 1vw;
    .form-contact {
      display: flex;
      flex-direction: column;
      width: 50%;
      input,
      textarea {
        margin: 1vh 0;
        padding: 10px;
        border-radius: 5px;
      }
      .submit {
        width: 20%;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  
  @media (max-width: 1200px) {
    #contact {
      width: 95%;
      margin: 0 2.5%;
    }
  }
  @media (max-width: 1200px) {
    #contact {
      padding: 50px 0;
      .form-contact {
        width: 99%;
      }
    }
  }
  