#nav-bar-pc {
  width: 100%;
  height: 20vh;
  .banner {
    width: 100%;
    height: 70%;
    background-color: rgb(78, 188, 200);
    background-image: url(https://firebasestorage.googleapis.com/v0/b/curiosity-app-cec1f.appspot.com/o/banner%2Fbanner-home.jpg?alt=media&token=48e4644c-7af7-4924-b1aa-9f9f583b5867);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
      width: 50px;
      height: 50px;
    }
  }
  .menu {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    .brand {
      display: flex;
      justify-content: center;
      align-items: center;
      .logo {
        margin: 1vh 1vh;
        width: 30px;
        height: 30px;
      }
      p {
        font-style: italic;
        font-weight: 500;
      }
    }
    ul {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0;
      margin: 0 4vw;
      .link {
        margin: 0 .75vw;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;
        p {
          padding: 0 0.5vw;
        }
      }
      .link:hover {
        cursor: pointer;
        box-shadow: inset 0 -2px 0 rgb(207, 10, 56);
      }
    }
    .theme-button {
      width: 45px;
      height: 35px;
      margin: 1vh 1vh;
      .button {
        width: 70%;
        height: 70%;
        padding: 10%;
        margin: 2%;
        background-color: rgba(128, 128, 128, 0.105);
        border-radius: 100%;
      }
      .button:hover {
        cursor: pointer;
      }
    }
  }
}
