#filter-articles {
  position: relative;
  width: auto;
  height: 50px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  .filter {
    display: flex;
    align-items: center;
    height: 100%;
    &:hover {
      cursor: pointer;
    }
    h3 {
      padding: 0 10px;
    }
  }
  .icon-filter {
    padding: 0 10px;
    height: 100%;
    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.459);
    }
  }
  .thrash {
    display: flex;
    align-items: center;
    height: 70%;
    margin: 0 5px;
    border-radius: 5px;
    p {
      padding: 0 5px;
    }
  }
  .box-filter {
    position: absolute;
    width: 500px;
    height: auto;
    border-radius: 5px;
    border-top-left-radius: 0;
    top: 0;
    margin-top: 50px;
    margin-left: -1px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    .box-categorie {
      min-width: 100px;
      height: 50px;
      margin: 20px 10px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
      .circle {
        width: 20px;
        height: 20px;
        margin-left: 10px;
        border-radius: 100%;
      }
      p {
        padding: 0 10px;
      }
    }
  }
}
.border-parcial {
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.border-complete{
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  #filter-articles{
    .box-filter{
      max-width: 85vw;
    }
  }
}