#nav-bar-mobile {
  width: 100%;
  height: auto;
  position: relative;
  .banner {
    width: 100%;
    height: 70px;
    background-color: rgb(78, 188, 200);
    background-image: url(https://firebasestorage.googleapis.com/v0/b/curiosity-app-cec1f.appspot.com/o/banner%2Fbanner-home.jpg?alt=media&token=48e4644c-7af7-4924-b1aa-9f9f583b5867);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 40px;
      height: 40px;
    }
    .toggle {
      width: 50px;
      height: 40px;
      .button {
        width: 80%;
        height: 80%;
        padding: 10%;
        border-radius: 100%;
      }
      .button-left{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      .button-right{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
  .menu-mobile {
    background-color: rgba(0, 0, 0, 0.863);
    width: 200px;
    height: auto;
    padding-bottom: 10vh;
    border-bottom-right-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 0;
    transform: translateX(-100%);
    .toggle {
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      .button {
        width: 25px;
        height: 25px;
        padding: 10px;
        background-color: rgba(128, 128, 128, 0.105);
        border-radius: 100%;
      }
      .button-left{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
    .nav{
      display: flex;
      flex-direction: column;
      .link{
        display: flex;
        align-items: center;
        text-decoration: none;
        margin: 15px 0;
        padding: 0 10px;
        p{
          padding: 0 10px;
        }
      }
    }
  }
  .close {
    animation-name: closeMenu;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }
  .open {
    animation-name: openMenu;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }
}

@keyframes closeMenu {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes openMenu {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
