#sobre-nosotros{
    padding: 50px .5vw;
    .disclaimer{
        .authors{
            padding: 20px 0;
            .author{
                .redes{
                    display: flex;
                    .link{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0 10px;
                        margin: 0 10px;
                        border-radius: 10px;
                        text-decoration: none;
                        .icon{
                            font-size: 30px;
                        }
                        p{
                            padding-left: 5px;
                        }
                    }
                }
            }
        }
    }
}