#footer {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px;
  .brand {
    padding: 2vh 1vw 0 0;
    height: 100%;
    display: flex;
    align-items: center;
    .logo {
      width: 30px;
      height: 30px;
    }
  }
  .links {
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    a,
    div {
      text-decoration: none;
      &:hover {
        cursor: pointer;
      }
      p {
        margin: 10px 0;
        padding: 0;
        font-size: 0.8rem;
      }
    }
  }
}

@media (max-width: 1200px) {
  #footer {
    width: 95%;
    margin: 0 2.5%;
  }
}

@media (max-width: 750px) {
  #footer {
    flex-direction: column;
    height: auto;
    .brand {
      .logo {
        padding: 0 5px 0 0;
      }
    }
    .links {
      width: 40%;
      padding: 10px 1vw;
      a,div{
        p{
          font-size: 1rem;
        }
      }
    }
  }
}
