body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}
#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  #app-padding{
    max-width: 1200px;
  }
}

//Mode Dark & Animations
.light {
  .text {
    color: rgb(32, 32, 32);
  }
  .background {
    animation-name: darkToLight;
    animation-duration: .75s;
    animation-fill-mode: forwards;
  }
}
.dark {
  .text {
    color: rgb(216, 216, 211);
  }
  .background {
    animation-name: lightToDark;
    animation-duration: .75s;
    animation-fill-mode: forwards;
  }
}

@keyframes darkToLight {
  0% {
    background-color: rgb(24, 24, 24);
  }
  100.0% {
    background-color: rgb(248, 248, 246);
  }
}
@keyframes lightToDark {
    0% {
      background-color: rgb(248, 248, 246);
    }
    100.0% {
      background-color: rgb(24, 24, 24);
    }
  }
